<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--Copy this file to your project and modify the factory type and the stuff to instantiate your logging framework.-->
  <configSections>
    <section name="gatewayedi.logging" type="GatewayEDI.Logging.Configuration.LogConfigurationSection, GatewayEDI.Logging"/>
  </configSections>
  <gatewayedi.logging>
    <factories>
      <!--configure single log4net factory, which will get all logging output 
       Important: make sure the log4net facade library is available in your runtime folder.-->
      <factory type="Log4netFacade.Log4netLogFactory, Log4netFacade">
        <factory-data>
          <parameters>
            <!--This tells log4net where to get it's config settings from.  Leave blank to read from app/web.config-->
            <configFile value="log4net.config" />
          </parameters>
        </factory-data>
      </factory>
      <!--This sets up nlog.  You can't configure where the config file is. ref: http://nlog-project.org/wiki/Configuration_File-->
      <factory type="NLogFacade.NLogLogFactory, NLogFacade" />
      <!--This uses log4net as it's underlying framework.  It includes things that the realtime systems use. -->
      <factory type="RealtimeLoggingFacade.Log4netLogFactory, RealtimeLoggingFacade">
        <factory-data>
          <parameters>
            <!--This tells log4net where to get it's config settings from.  Leave blank to read from app/web.config-->
            <configFile value="RealtimeLog.config" />
          </parameters>
        </factory-data>
      </factory>
    </factories>
  </gatewayedi.logging>
</configuration>