<?xml version="1.0" encoding="utf-8" ?>
<!-- configures NLog to write logging data to the console -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        throwExceptions="true">
  <targets>
    <target name="console" xsi:type="Console" layout="${pad:padding=-5:inner=${level}} [${ndc}] ${message}"/>
    <target xsi:type="File" name="file" fileName="c:\\temp\\GEDINLogConsoleTest.txt" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} ${pad:padding=-5:inner=${level}} [${ndc}] '${windows-identity}' ${logger} - ${message}"/>
  </targets>
  <rules>
    <!-- a logger with a wildcard for its name, hence matches all logger names, configured to log messages with a minimum level of Warn -->
    <logger name="*" writeTo="console,file" minlevel="Debug"/>
  </rules>
</nlog>
