<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- configures log4net to write logging data to the console -->
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level [%ndc] %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender" >
      <file value="C:\\TEMP\\GEDIRealtimeLoggingConsoleTest.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss} %-5level [%ndc] '%username' %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="HobbitAppender" type="RealtimeLoggingFacade.HobbitAppender, RealtimeLoggingFacade">
      <BBMessage>
        <!-- This is where Hobbit is listening at. -->
        <Server value="gsmonitor"/>
        <Port value="1984"/>
      </BBMessage>
      <Threshold value="ERROR"/>
      <!-- The name of the "test" being sent to Hobbit. Corresponds to a column on the Hobbit web site. -->
      <RemoteTest value="rt-elig"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <!-- The date/time is automatically prefixed before any message, so no need for it here. -->
        <param name="ConversionPattern" value="%-5level %message" />
      </layout>
    </appender>
    <root>
      <!--apply a level filter to the root logger-->
      <level value="Debug" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <!--This catches the SpringContext errors, and config update errors for routing to Hobbit.-->
    <logger name="GatewayEDI.Realtime.Service">
      <appender-ref ref="HobbitAppender"/>
    </logger>
    <!--Routes audit & trace log loading errors to Hobbit.-->
    <logger name="GatewayEDI.Realtime.Logging">
      <appender-ref ref="HobbitAppender"/>
    </logger>
    <!--Catches app initiatilization errors, including the refreshing of Spring config.-->
    <logger name="GatewayEDI.Realtime.Global">
      <appender-ref ref="HobbitAppender"/>
    </logger>
  </log4net>
</configuration>