@model List<EnrollmentWorkflow.Models.WorkItemCategoryModel>
@using Kendo.Mvc.UI

<p style="float: left; margin-right: 10px; margin-top: 20px; font-weight: bold; padding-top: 5px;">Showing Work Item List For </p>


@(Html.Kendo().DropDownList()
                      .Name("ddlRepNameQueue")
                      .DataTextField("Text")
                      .DataValueField("Value")
                      .BindTo(new SelectList((IEnumerable<SelectListItem>)ViewBag.GroupMembers, "Value", "Text"))
                      .Events(events => events.Change("viewListFor"))
                      .HtmlAttributes(new
                      {
                          @style = "float:left; margin-top:20px;"
                      }))

<div style="clear: both;"></div>

<div class="row" style="margin-top: 20px;">
    @foreach (var item in @Model)
    {
        @Html.DisplayFor(x => item)
    }
</div>

<script type="text/javascript">
    var userDropDownQueue = $("#ddlRepNameQueue").data("kendoDropDownList");
    
    if (selectedUser != undefined && selectedUser != '') {
        userDropDownQueue.value(selectedUser);
    }
    else {
        userDropDownQueue.value("@ViewBag.User");
    }
</script>

