@using Kendo.Mvc.UI
@using EnrollmentWorkflow.Models

<p style="float: left; margin-right: 10px; margin-top: 20px; font-weight: bold; padding-top: 5px;">Showing Work Item List For </p>


@(Html.Kendo().DropDownList()
                      .Name("ddlRepNameList")
                      .DataTextField("Text")
                      .DataValueField("Value")
                      .BindTo(new SelectList((IEnumerable<SelectListItem>)ViewBag.GroupMembers, "Value", "Text"))
                      .Events(events => events.Change("viewListForList"))
                      .HtmlAttributes(new
                      {
                          @style = "float:left; margin-top:20px;"
                      }))

<div style="clear: both;"></div>

<div style="margin-top: 20px">
    @(Html.Kendo().Grid<WorkItemModel>().Name("workItemGridList")
                          .DataSource(data => data
                              .Ajax()
                              .PageSize(100)
                              .Model(model =>
                              {
                                  model.Id(w => w.Id);
                                  model.Field(w => w.SiteId).Editable(false);
                                  model.Field(w => w.Vendor).Editable(false);
                                  model.Field(w => w.Status).Editable(false);
                                  model.Field(w => w.GoLiveDate).Editable(false);
                                  model.Field(w => w.LastContacted).Editable(false);
                                  model.Field(w => w.KickOffCallDate).Editable(false);
                                  model.Field(w => w.ClientSubmissionDate).Editable(false);
                                  model.Field(w => w.EnrollmentSentToThirdParty).Editable(false);
                                  model.Field(w => w.IntroDate).Editable(false);
                                  model.Field(w => w.SiteAnalysisDue).Editable(false);




                              })
                              .Read(readAction => readAction.Action("LoadWorkItems", "Home")
                                  .Data("currentDataList")

                              )
                          )
                          .Columns(columns =>
                          {
                              columns.Bound(col => col.Id).Hidden(true);
                              columns.Bound(col => col.SiteId).Title("Site ID").Width(75);
                              columns.Bound(col => col.Vendor).Title("Vendor").Width(150);
                              columns.Bound(col => col.Status).Title("Status").Width(200);
                              columns.Bound(col => col.GoLiveDate).Format("{0:MM/dd/yyyy}").Title("Go-Live Date").Width(120);
                              columns.Bound(col => col.LastContacted).Title("Last Contacted Date").Width(200);
                              columns.Bound(col => col.KickOffCallDate).Title("Kick off Call Date").Width(200);
                              columns.Bound(col => col.ClientSubmissionDate).Title("Client Submitted Date").Width(200);
                              columns.Bound(col => col.EnrollmentSentToThirdParty).Title("Sent to Madaket Date").Width(200);
                              columns.Bound(col => col.IntroDate).Title("Intro Date").Width(200);
                              columns.Bound(col => col.SiteAnalysisDue).Title("Site Analysis Due date").Width(200);
                              columns.Template(@<text></text>).Title("");
                          })
                         .Sortable(sort => sort.AllowUnsort(false).SortMode(GridSortMode.SingleColumn))
                         .Scrollable().Scrollable(s => s.Height("200"))
                         .Editable(m => m.Mode(GridEditMode.InCell))
                         .Pageable(pg => pg
                            .Refresh(true)
                            .PageSizes(new int[] { 100 })
                            .ButtonCount(5))
                            .AutoBind(false))
</div>

<script type="text/javascript">
    var userDropDownList = $("#ddlRepNameList").data("kendoDropDownList");

    if (selectedUser != undefined && selectedUser != '') {
        userDropDownList.value(selectedUser);
    }
    else {
        userDropDownList.value("@ViewBag.User");
    }
</script>